
# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

# Uncomment the following line to enable the Sofle OLED Display
CONFIG_ZMK_DISPLAY=y

CONFIG_ZMK_KEYBOARD_NAME=sofle_v1

# Uncomment these two lines to add support for encoders
# CONFIG_EC11=y
# CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y

# enable deep sleep to save power
CONFIG_ZMK_SLEEP=y
CONFIG_ZMK_IDLE_SLEEP_TIMEOUT=300000

# Uncomment the line below to increase Bluetooth TX power by 8dBm
CONFIG_BT_CTLR_TX_PWR_PLUS_8=y

# Optional: improve Bluetooth connection stability
CONFIG_ZMK_BLE_EXPERIMENTAL_CONN=y

# Enable RGB per-key backlight (WS2812 LEDs)
CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_ZMK_RGB_UNDERGLOW_BRT_START=50
CONFIG_ZMK_RGB_UNDERGLOW_SAT_START=100
CONFIG_ZMK_RGB_UNDERGLOW_HUE_START=200
CONFIG_ZMK_RGB_UNDERGLOW_ON_START=y
CONFIG_ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE=n
CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n

# Enable WS2812 LED driver
CONFIG_WS2812_STRIP=y
CONFIG_LED_STRIP=y